<template name="aboutUs">
<summary>
   <section class="post-content-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
               <h1 class="text-center">How ILendBooks started</h1>

            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
               <p >Instead of spending hundreds of dollars on textbooks you may only use a few times, borrow and lend today! ILendBooks™ is a free website open to all University of Washington students that empowers students to lend and borrow books from one another.</p>
               <p>On one Winter evening, my uncle and I were discussing my time at the UW. Our conversation steered in the direction of textbook prices: something that all college students can wholeheartedly agree on. Textbooks are expensive. My uncle asked if my school had any kind of textbook exchange program for its students to use. I told him that there is a Facebook group where students can put whatever they have up for sale. The problem was that it still involved money. After googling to see if such a program existed, I asked myself “why not make something that does just that?”</p>
               <p>
               After months of mentorship and development, I proudly present the website ILendBooks™. Lend books and earn BookCoin™ which you can use to borrow books from other students! College textbooks are expensive, and I sincerely believe ILendBooks™ can alleviate the grievances and efficiently solve this issue.</p>
               <p> Check out my <a href="https://yokesh.net/"> blog </a> for regular updates on ILendBooks!</p>
<!--                <div class="image-block">
                  <img src="https://static.pexels.com/photos/268455/pexels-photo-268455.jpeg" class="img-responsive" >
               </div> -->
            </div>
            <div class="col-lg-4  col-md-4 col-sm-12">
               <div class="well">
                  <!-- <h2>About Me</h2> -->
                  <img src="img/yokesh.jpg" class="img-rounded img-responsive  img-border margin-top center-block" />
                  <!-- <p> I am an undergraduate student at the University of Washington.</p> -->
                  <a href="https://yokesh.net/" class="btn btn-default">My Blog</a>
               </div>


            </div>
         </div>
      </div>
      <!-- /container -->
   </section>
   <!-- <summary>
      <div class="container">
      <div class="container margin-top-summary">
      	<div class="row">
            <h2 class="intro-text text-center">How IlendBooks Started </h2>
          </div>
          <div class="row">
            <div class="col-md-3">
          	  <img src="img/demo-screen-1.jpg" class="img-responsive img-rounded" alt="">
            </div>
            <div class="col-md-9">
            
                  <p> Instead of spending hundreds of dollars on textbooks you may only use a few times, borrow and lend today! ILendBooks™ is a free website open to all University of Washington students that empowers students to lend and borrow books from one another. </p><br>
                  <p>On one Winter evening, my uncle and I were discussing my time at the UW. Our conversation steered in the direction of textbook prices: something that all college students can wholeheartedly agree on. Textbooks are expensive. My uncle asked if my school had any kind of textbook exchange program for its students to use. I told him that there is a Facebook group where students can put whatever they have up for sale. The problem was that it still involved money. After googling to see if such a program existed, I asked myself “why not make something that does just that?” </p><br>
                  <p>After months of mentorship and development, I proudly present the website ILendBooks™. Lend books and earn BookCoin™ which you can use to borrow books from other students! College textbooks are expensive, and I sincerely believe ILendBooks™ can alleviate the grievances and efficiently solve this issue.</p>
                  <br>
                  <p> Check out my <a href="https://yokesh.net/"> blog </a> for regular updates on ILendBooks!</p>
              </div>
          </div>
      </div>
      </div>
      </summary> -->
  </summary>
</template>