 <template name="accountNotVerified">
 <summary>
        <div class="container">
            <div class="row" >
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="header-content">
                        <div class="header-content-inner">
                           <h1 class="text-center">Please verify...</h1>
                           <div>
								<p> Friend, please verify your account... <a href="#" class="resend-verification-link">Resend verification link?</a></p>
                          </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </summary>

 </template>