<template name="bookInfo">
   <div class="row">&nbsp;<br>&nbsp;<br>&nbsp;</div>
<!--    <div class="row">
      <div class="col-sm-5">
         <img class="img-responsive  img-border margin-top center-block" src="{{getImage ilendbooksId}}" alt=""><br>
      </div>
      <div  class="col-sm-7">
         Title - {{getTitle ilendbooksId}}<br>
         Author - {{getAuthor ilendbooksId}}<br>
         No of pages - {{getNumberOfPages ilendbooksId}}<br>
         Publisher - {{getPublisher ilendbooksId}}<br>
         Edition - {{getEdition ilendbooksId}}<br>
         ISBN - {{getISBN ilendbooksId}}<br>
         Publication Date - {{getPublicationDate ilendbooksId}}<br>
         Status - <a href="#" class="text-left ilendInfoModal">{{status}}</a><br>
         {{#each getNextStatePrompt}}
             <a id="{{../ilendbooksId}}" class="option" href="#">{{prompt}}</a> &nbsp;
         {{/each}}
      </div>
      <div>&nbsp;</div>
   </div> -->

<!--          <div class="row">
         <div class="col-sm-3">
            {{#if hasLender}}
               <span class="cardd-banner"></span>
            {{/if}}   
            <img class="img-responsive  img-border  center-block" src="{{imageFormatterOne}}{{getImage ilendbooksId}}" alt=""><br>
         </div>

         <div  class="col-sm-6">
            Title - {{getTitle ilendbooksId}}<br>
            Author - {{getAuthor ilendbooksId}}<br>
            No of pages - {{getNumberOfPages ilendbooksId}}<br>
            Publisher - {{getPublisher ilendbooksId}}<br>
            Edition - {{getEdition ilendbooksId}}<br>
            ISBN - {{getISBN ilendbooksId}}<br>
            Publication Date - {{getPublicationDate ilendbooksId}}<br>
            Media- {{getProductGroup ilendbooksId}}<br><br>
         </div>
         <div class="col-sm-3">
               <div>
                  <a class="btn btn-outline btn-sm  center-block  ilendInfoModal" role="button">{{status}}</a> <br>
               </div>
               {{#each getNextStatePrompt}}
                  <div>
                     <a id="{{../ilendbooksId}}" class="btn btn-info btn-sm  center-block  option" role="button">{{prompt}}</a> <br>
                  </div>               
               {{/each}}
         </div> -->

         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img class="img-responsive  img-border margin-top center-block" src="{{getImage ilendbooksId}}" alt="">
                        </div>
<!--                         <div class="user">
                            <img class="img-circle" src="images/rotating_card_profile3.png"/>
                        </div> -->
<!--                         <div class="content">
                            <div class="main">
                                <h3 class="name">John Marvel</h3>
                                <p class="profession">CEO</p>
                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div> -->
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">{{getTitle ilendbooksId}}}</h5>
                        </div>
                        <div class="content">
                            <div class="main">
           
                                 Author - {{getAuthor ilendbooksId}}}<br>
                                 No of pages - {{getNumberOfPages ilendbooksId}}}<br>
                                 Publisher - {{getPublisher ilendbooksId}}}<br>
                                 Edition - {{getEdition ilendbooksId}}}<br>
                                 ISBN - {{getISBN ilendbooksId}}}<br>
                                 Publication Date - {{getPublicationDate ilendbooksId}}}<br>
                                Media- {{getProductGroup ilendbooksId}}}<br>
                            </div>
                        </div>

                        <div class="footer">

                      <div class="search-result-btn-links text-center">
                        <div>
                           <a class="btn btn-outline btn-sm  center-block  ilendInfoModal" role="button">{{status}}</a> <br>
                        </div>
                        {{#each getNextStatePrompt}}
                           <div>
                              <a id="{{../ilendbooksId}}" class="btn btn-info btn-sm  center-block  option" role="button">{{prompt}}</a> <br>
                           </div>               
                        {{/each}}
                       </div>

<!--                             <div class="social-links text-center">
                                <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div> -->
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
   <!-- </div> -->
</template>