<template name="displayCourseBooks">
<div class="container-fluid">
<!--     <div class="row">
      <div class="col-md-2 col-xs-1"> <b> Course </b></div>
      <div class="col-md-2 col-xs-2 pull-right"> <b>Action</b></div>     
      <div class="col-md-2 col-xs-2 pull-right"> <b>Action</b></div>
      <div class="col-md-2 col-xs-2 pull-right"> <b>Textbook price</b> </div>
      <div class="col-md-2 col-xs-2 pull-right"> <b>Textbook quantity available</b> </div>
      <div class="col-md-2 col-xs-2 pull-right"> <b>Textbook title</b> </div>
      
    </div> -->
<!--     {{#each getCourses}}
      <div class="row">
       <div class="col-md-1 col-xs-1">{{this}}</div>
       {{#each getTextbooks this}}
        <div class="row">
        {{#if isLendTurn}}
            <div class="col-md-2 col-xs-2 pull-right"> <button type="button" class="btn btn-primary btn-sm lend">I have it</button> </div>
        {{else}}
            <div class="col-md-2 col-xs-2 pull-right"> <button type="button" class="btn btn-primary btn-sm">I want it</button> </div>
        {{/if}}
          
          <div class="col-md-2 col-xs-2 pull-right"> 50 BookCoin </div>
          <div class="col-md-2 col-xs-2 pull-right"> 5 </div>
          <div class="col-md-2 col-xs-2 pull-right"> {{getTitle ilendbooksId}} </div>

        </div>
        {{/each}}
        </div>
    {{/each}} -->
<!--         {{#each getCourses}}
      <div class="row">
       <div class="col-md-1 col-xs-1">{{this}}</div>
       {{#each getTextbooks this}}
        <div class="row">
        {{#if isLendTurn}}
            <div class="col-md-2 col-xs-2 pull-right"> <button type="button" class="btn btn-primary btn-sm lend">I have it</button> </div>
        {{else}}
            <div class="col-md-2 col-xs-2 pull-right"> <button type="button" class="btn btn-primary btn-sm">I want it</button> </div>
        {{/if}}
          
          <div class="col-md-2 col-xs-2 pull-right"> 50 BookCoin </div>
          <div class="col-md-2 col-xs-2 pull-right"> 5 </div>
          <div class="col-md-2 col-xs-2 pull-right"> {{getTitle ilendbooksId}} </div>

        </div>
        {{/each}}
        </div>
    {{/each}}
 -->
	
	<div class="row">
		<button type="button" class="btn btn-primary btn-sm pull-right finished">Finished?</button>
	</div>
</div>  
            {{#each getCourses}}
            <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                           <img src="img/courses.png"/>
                           {{this}}
                        </div>
                    </div> <!-- end front panel -->

                    <div class="back">
                        <div class="header">
                            <h5 class="motto">{{getTitle ItemAttributes}}</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                             {{#each getTextbooks this}}
                             <b>Textbook title</b> - {{getTitle ilendbooksId}}<br>
                                 <b>Textbook price</b> - 50 BookCoin <br>
                                 <b>Textbook quantity</b> - 5<br>
                                 
                               {{#if isLendTurn}}
                                    <div class=""> <button type="button" class="btn btn-primary btn-sm lend">I have it</button> </div>
                                {{else}}
                                    <div class=""> <button type="button" class="btn btn-primary btn-sm borrow">I want it</button> </div>
                                {{/if}}

                              {{/each}}
                            </div>
                        </div>

                        <div class="footer">

                      <div class="search-result-btn-links text-center">
                          
                      </div>
            
            

<!--                             <div class="social-links text-center">
                                <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div> -->
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
          </div>
          {{/each}}
        <!-- end col sm 3 -->
</template>

<!-- Notes:
-conditional test to determine if borrow or lend button
-nested array to get all books for each course -->

<!--    <div class="span5">
            <table class="table  table-condensed">
            
              <thead>
                  <tr>
                      <th>Course</th>
                      <th>Textbooks</th>
                      <th>Quantity to lend</th>
                      <th>Price</th>  
                      <th>Action </th>                                        
                  </tr>
              </thead>   
              <tbody>
              {{#each getCourses}}
                <tr>
                    <td>{{this}}</td>
                    {{#each getTextbooks this}}
                      <td>                    
                        {{title}}
                        <br>                     
                      </td>
                      <td>5</td>
                      <td><span class="label label-success">50 bookcoin</span>
                      </td>     
                      <td> <button type="button" class="btn btn-primary btn-sm">I have it</button> </td>   
                      <td> <button type="button" class="btn btn-primary btn-sm">I want it</button> </td>                    
                    {{/each}}                          
                </tr>     
              {{/each}}  -->     
<!--            <tr> 
                  <th rowspan="2">CSE143</th> 
                  <td> Building Java Programs </td>
                  <td> 5 </td>
                  <td> 50 bookcoin </td>
                  <td> <button type="button" class="btn btn-primary btn-sm">I want it</button> </td>
                </tr>
                <tr>
                  <td> Building Java Programs </td>
                  <td> 5 </td>
                  <td> 50 bookcoin </td>
                  <td> <button type="button" class="btn btn-primary btn-sm">I want it</button> </td>        
                </tr> -->

<!--               </tbody>          
            </table>
      </div> -->  