<template name="findCoursesLend">
	<h3> Hi {{getUserName}} </h3>
	{{#if isFirstTime}}
		<p> It seems this is your first time using ilendbooks! <br>
			Earn some BookCoin by offering textbooks that you currently own! 
			Click below to list the courses you have taken at UW and we will find the textbooks you might have. 
			We hope you enjoy ilendbooks! </p>
	{{else}}
		<p> Earn some BookCoin by telling us what classes you took this last quarter. If you have the corresponding textbooks,
		lend them out to earn BookCoin! </p>
	{{/if}}
		<button type="button" class="btn btn-primary findCourses">
			  Find Courses
		</button>

</template>