<template name="findCourses">
  <div id="findCoursesGreetings">
     <h3>{{getUserName}}, </h3>
     {{#if isLender}}
  	   {{#if isFirstTime}}
       <p>Congratulations!!!&nbsp;&nbsp;&nbsp;Your account has been created successfully and is ready to use. </p>
  	   <p>Earn BookCoins by offering to lend textbooks that you own collecting dust to your fellow students!</p>
  	   <p>  Click below to list the courses you have taken and we will find the textbooks you might have. 
  	      We hope you enjoy ilendbooks! 
  	   </p>
  	   {{else}}
  		   <p> Earn some BookCoin by telling us what classes you took this last quarter. If you have the corresponding textbooks,
  		      lend them out to earn BookCoin! 
  	   </p>
  	   {{/if}}
  	   
     {{else}}
     		{{isBorrower}}
     		<p> Please select your upcoming classes so we can try to find some books for you to borrow. </p>
     {{/if}}
   </div>
   <div >
     <form name="findCourses">
        <select class="selectpicker" multiple data-live-search="true" title="Select courses..." data-size="5" data-width="90%">
    		 {{#each getDepartments}}
              <optgroup label="Courses for: {{name}}">
              		{{#each getCourses id}}
             				<option value="{{courseId}}">{{courseName}}</option>
              		{{/each}}
        	  </optgroup>
    	   {{/each}}
        </select>      
        <input type="submit" class="btn btn-success" id="findCourses" value="Submit">
     </form>
   </div>
   <script>
      $('select').selectpicker();
   </script>

</template>