<template name="forgotPassword">

<summary>
        <div class="container">
            <div class="row" >
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="header-content">
                        <div class="header-content-inner">
                           <h1 class="text-center">Forgot password?</h1>
                           <form id="login" class="login">
                              <div class="form-group">
                                  <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input class="form-control" id="user" type="email" name='emailAddress' placeholder="Enter your email (must end with '@uw.edu')" required/>
                                  </div>
                              </div> 
                              <div class="form-group">
                                 <input type="submit" class="btn btn-success btn-sm center-block" value="Reset password">
                              </div>
                           </form>
                           <div class="col-sm-6 col-sm-offset-3 text-center">
                                <a href="{{pathFor route='login'}}"><span class='ilend-small-font'>Login</span></a>
                          </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </summary>
</template>