<template name="login">
<summary>
        <div class="container">
            <div class="row" >
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="header-content">
                        <div class="header-content-inner">
                           <h1 class="text-center">Login</h1>
                           <form id="login" class="login">
                              <div class="form-group">
                                  <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="user" type="email" name='emailAddress' placeholder="Email Address" required/>
                                  </div>
                              </div> 
                               <div class="form-group input-group">
                                 <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                 <input class="form-control" type="password" id="password" name='password' placeholder="Password"/>     
                               </div>
                              <div class="form-group">
                                 <input type="submit" class="btn btn-success btn-sm center-block" value="Login">
                              </div>
                           </form>
                           <div class="col-sm-6 col-sm-offset-3 text-center">
                                <a href="{{pathFor route='signup'}}"><span class='ilend-small-font'>Create an account</span></a>
                          </div> 
                           <div class="col-sm-6 col-sm-offset-3 text-center">
                                <a href="{{pathFor route='forgotPassword'}}" class="sendResetPasswordEmail"><span class='ilend-small-font'>Recover password</span></a>
                           </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </summary>
</template>


<!-- Comments:
-removed resend verification link -->