<template name="searchResult">


         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="{{getLargeImage LargeImage}}"/>
                        </div>
<!--                         <div class="user">
                            <img class="img-circle" src="images/rotating_card_profile3.png"/>
                        </div> -->
<!--                         <div class="content">
                            <div class="main">
                                <h3 class="name">John Marvel</h3>
                                <p class="profession">CEO</p>
                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div> -->
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">{{getTitle ItemAttributes}}</h5>
                        </div>
                        <div class="content">
                            <div class="main">
           
                                 Author - {{getAuthor ItemAttributes}}<br>
                                 No of pages - {{getNumberOfPages ItemAttributes}}<br>
                                 Publisher - {{getPublisher ItemAttributes}}<br>
                                 Edition - {{getEdition ItemAttributes}}<br>
                                 ISBN - {{getISBN ItemAttributes}}<br>
                                 Publication Date - {{getPublicationDate ItemAttributes}}<br>
                                Media- {{getProductGroup ItemAttributes}}<br>
                          {{#if isInBorrowWishList}}
                            <div >
                              <span class="lend-lender-available">☆ Will notify on lender found</span>
                            </div>
                          {{/if}}
                          {{#if hasLender}}
                            <div class="text-right" >
                              <span class="lend-lender-available">☆ Lender Available</span>
                            </div>
                          {{/if}}
                            </div>
                        </div>

                        <div class="footer">

                      <div class="search-result-btn-links text-center">
                          {{#if isVerifiedUser}}
                             {{#if hasClickedLend}} 
                                   <a class="btn btn-info btn-sm ownThisBook" role="button">Own it</a>
                                   <a id="not-new-lender-{{ilendbooksId}}" class="btn btn-warning btn-sm  notNewLender"  role="button">In shelf</a>
                             {{else}}

                                {{#if hasLender}}
                                   {{#if hasEnoughBookCoin}}
                                      <a id="borrow-{{ilendbooksId}}" class="btn btn-primary btn-sm  borrow" href="{{pathFor 'specificBookPage'}}"  role="button"> <i class="fa fa-heart" aria-hidden="true"></i> to borrow</a>
                                   {{else}}
                                   <a id="lend-{{ilendbooksId}}" class="btn btn-outline btn-sm lend disabled"  role="button">Not enough <i class="fa fa-money " aria-hidden="true"></i></a>
                                   {{/if}}

                                {{else}}   
                                   {{#if isInBorrowWishList}}
              <!--                      <div class="text-right" >
                                      <span class="lend-lender-available">☆ Will notify on lender found</span>
                                   </div>
               -->
                                    <a id="borrow-{{ilendbooksId}}" class="btn btn-primary btn-sm inBorrowWishList" role="button"> In <i class="fa fa-heart" aria-hidden="true"></i></a>

                                   {{else}}
                                         <a id="borrow-{{ilendbooksId}}" class="btn btn-info btn-sm addToBorrowWishList" role="button"> Add to <i class="fa fa-heart" aria-hidden="true"></i></a>
                                   {{/if}}
                                {{/if}}

                                <a id="lend-{{ilendbooksId}}" class="btn btn-warning btn-sm lend"  role="button"><i class="fa fa-heart" aria-hidden="true"></i> to lend</a>
                             {{/if}}
                                <a id="{{ilendbooksId}}" class="btn btn-primary btn-sm toAmazon" href="{{DetailPageURL}}" role="button">Buy on <i class="fa fa-amazon" aria-hidden="true"></i></a>
                          {{else}}
                             <a class="btn btn-info btn-sm  notVerifiedUser" role="button"><i class="fa fa-heart" aria-hidden="true"></i> borrow</a>
                             <a class="btn btn-warning btn-sm  notVerifiedUser" role="button"><i class="fa fa-heart" aria-hidden="true"></i> lend</a>      
                             <a id="{{ilendbooksId}}" class="btn btn-primary btn-sm toAmazon" href="{{DetailPageURL}}" role="button">Buy <i class="fa fa-amazon" aria-hidden="true"></i></a>
                          {{/if}}
                       </div>

<!--                             <div class="social-links text-center">
                                <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div> -->
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->


</template>