<template name="verificationEmailSent">
<summary>
        <div class="container">
            <div class="row" >
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="header-content">
                        <div class="header-content-inner">
                           <h1 class="text-center">Email Sent...</h1>
                           <div>
								<p> A verification email has been sent to {{currentUser.emails.[0].address}}, please follow the direction in the email and verify. </p>
                          </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </summary>
</template>