.box {
    margin-bottom: 20px;

    color: black;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.box2 {
    margin-bottom: 40px;
    padding: 100px 50px 100px 200px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.bookDiv {
  margin-left: 50px;
}

.row-padded {
  padding: 35px;
  background-color: #F7F7F7;
  border: 1px solid #DDD;
}

.row-padded .span4 {
  background-color: #bbb;
  width: 30%;
}

.userHome {
  text-align: center
}

.userH1 {
    text-align: center
}
.bookInfoText{
  font-size: 120%
}
.specImg {
  height: 50%;
  width: auto;
}

